---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};
---
<article>
<h1>Archive</h1>

"So...that's it. All of my darkest fears, and everything I'm capable of. That's me." <span style="display:inline-block">—George Costanza</span>

<h2>Categories</h2>

{% set allTags = [] %}
{% for post in collections.posts %}
  {% for tag in post.data.tags %}
    {% if allTags.indexOf(tag) == -1 and tag != "posts" and tag != "post" %}
      {% set allTags = allTags.concat([tag]) %}
    {% endif %}
  {% endfor %}
{% endfor %}



  {% for tag in allTags | sort %}
	  <a href="/tags/{{ tag | url }}" class="post-tag">{{ tag }}</a>
  {% endfor %}



<h2>All posts</h2>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</article>